[Unit]
Description=Fire Service: spamvortex
After=network.target
StartLimitBurst=15
StartLimitIntervalSec=30m

[Service]
Type=simple
User=root
WorkingDirectory=/root/SpamVortexBot
Environment="PATH=/root/myenv/bin:/usr/local/bin:/usr/bin:/bin"

ExecStart=/root/myenv/bin/python /root/SpamVortexBot/main.py
Restart=always
RestartSec=3
RestartMaxDelaySec=2m
RestartSteps=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=fire-spamvortex

[Install]
WantedBy=multi-user.target
