[Unit]
Description=Fire Service: broadcast
After=network.target
StartLimitBurst=15
StartLimitIntervalSec=30m

[Service]
SyslogIdentifier=fire-broadcast
Type=simple
User=root
WorkingDirectory=/root/broadcast
Environment="PATH=/root/myenv/bin"
ExecStart=/root/myenv/bin/python /root/broadcast/broadcast.py
Restart=always
RestartSec=3
RestartMaxDelaySec=2m
RestartSteps=5
TimeoutStopSec=15
KillSignal=SIGTERM
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
