[Unit]
Description=Fire Service: copier.py
After=network.target
StartLimitBurst=15
StartLimitIntervalSec=30m

[Service]
Type=simple
User=root
WorkingDirectory=/root/bots
Environment="PATH=/root/myenv/bin:/usr/local/bin:/usr/bin:/bin"

ExecStart=/root/myenv/bin/python /root/bots/copier.py
Restart=always
RestartSec=3
RestartMaxDelaySec=2m
RestartSteps=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=fire-copierpy

[Install]
WantedBy=multi-user.target
