[Unit]
Description=Fire Service: web_ui3.py
After=network.target
StartLimitBurst=15
StartLimitIntervalSec=30m

[Service]
Type=simple
User=root
WorkingDirectory=/root/dev/Insta
Environment="PATH=/root/myenv/bin:/usr/local/bin:/usr/bin:/bin"

ExecStart=/root/myenv/bin/python /root/dev/Insta/web_ui3.py
Restart=always
RestartSec=3
RestartMaxDelaySec=2m
RestartSteps=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=fire-web_ui3py

[Install]
WantedBy=multi-user.target
