[Unit]
Description=Fire Service: del2.py
After=network.target
StartLimitBurst=15
StartLimitIntervalSec=30m

[Service]
Type=simple
User=root
WorkingDirectory=/root/Bio
Environment="PATH=/root/myenv/bin:/usr/local/bin:/usr/bin:/bin"

ExecStart=/root/myenv/bin/python /root/Bio/del2.py "8569292538:AAHPhG7vXxnrpNlrs55DDjIUqp3FpjoX9cs"
Restart=always
RestartSec=3
RestartMaxDelaySec=2m
RestartSteps=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=fire-del2py

[Install]
WantedBy=multi-user.target
