[Unit]
Description=Fire Service: del
After=network.target
StartLimitBurst=15
StartLimitIntervalSec=30m

[Service]
SyslogIdentifier=fire-del
Type=simple
User=root
WorkingDirectory=/root/Bio
Environment="PATH=/root/myenv/bin"
ExecStart=/root/myenv/bin/python /root/Bio/del.py
Restart=always
RestartSec=3
RestartMaxDelaySec=2m
RestartSteps=5
TimeoutStopSec=15
KillSignal=SIGTERM
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
